html{
  --mainColor: #4C061D;
}

.b-black{
  border:1px solid black;
}


/* COLORS */
.c-main{
  color:var(--mainColor);
}

.c-white{
  color:white;
}

.bg-main{
  background-color:var(--mainColor);
}


/* SIZES */


.mw-container-center{
  width:400px;
}

.box-shadow{
  box-shadow: 0px 0px 3px #a1a1a1;
  border-radius: 8px;
}